<div class="message-opacity" id="message-<%= message.id %>">
  <small class="text-end">
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.in_time_zone('CET').strftime('%H:%M') %></i>
  </small>
  <p><%= message.content %></p>
</div>
