// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #D0F288;
$greenbis: #BED754;
$gray: #0E0000;
$verylight-gray: #F7F7F9;
$corail: #F28482;
$light-gray: #D9D9D9;
$dark-gray: #7F7F7F;
