// Specific CSS for your home-page
body{
  background-color: white;
}

.logo-banner{
  display: block;
  margin-left: auto;
  padding-top: 32px;
  margin-right: auto;
}

.text-shadow{
  text-shadow: 2px 2px 4px #000000;
}
