<a class="image-clickable" href="<%=park_path(park) %>"><%= cl_image_tag park.photo.key, height:50, width: 80, crop: :fill if park.photo.attached? %><p style="color: #F28482;"><%= park.name %></p></a>
