<div class="flex">
    <%if @park.sandbox === true  %>
  <div class="label">
      <i class="fa-solid fa-campground" style="color: #7f7f7f;"></i>
      sandbox
  </div>
    <% end %>
    <%if @park.slide === true  %>
    <div class="label">
    <i class="fa-solid fa-shapes" style="color: #7f7f7f;"></i>
      slide
    </div>
    <% end %>
     <%if @park.sling === true  %>
      <div class="label">
      <i class="fa-solid fa-puzzle-piece" style="color: #7f7f7f;"></i>
      sling
    </div>
    <% end %>
    <%if @park.water === true  %>
      <div class="label">
      <i class="fa-solid fa-water" style="color: #7f7f7f;"></i>
      water
    </div>
    <% end %>
    <%if @park.climber === true  %>
      <div class="label">
      <i class="fa-solid fa-cubes-stacked" style="color: #7f7f7f;"></i>
     climber
    </div>
    <% end %>
    <%if @park.coffee === true  %>
      <div class="label">
     <i class="fa-solid fa-mug-hot" style="color: #7f7f7f;"></i>
      coffee
    </div>
    <% end %>
    <%if @park.zoo === true  %>
      <div class="label">
      <i class="fa-solid fa-dragon" style="color: #7f7f7f;"></i>
      zoo
    </div>
    <% end %>
    <%if @park.toys_rent === true  %>
      <div class="label">
      <i class="fa-solid fa-face-smile" style="color: #7f7f7f;"></i>
      toys rent
    </div>
    <% end %>
  </div>
