<div class="flex">
    <%if @park.sandbox === true  %>
  <div class="label">
      <i class="fa-solid fa-campground" style="color: #7f7f7f;margin-right: 5px;"></i>
  Bac à sable
  </div>
    <% end %>
    <%if @park.slide === true  %>
    <div class="label">

    <i class="fa-solid fa-shapes" style="color: #7f7f7f;margin-right: 5px;"></i>
     Toboggan

    </div>
    <% end %>
    <%if @park.sling === true  %>
      <div class="label">
      <i class="fa-solid fa-puzzle-piece" style="color: #7f7f7f;margin-right: 5px;"></i>
      Balançoire
    </div>
    <% end %>
    <%if @park.water === true  %>
      <div class="label">

      <i class="fa-solid fa-water" style="color: #7f7f7f;margin-right: 5px;"></i>
       Eau

    </div>
    <% end %>
    <%if @park.climber === true  %>
      <div class="label">
      <i class="fa-solid fa-cubes-stacked" style="color: #7f7f7f;margin-right: 5px;"></i>
      Grimpe
    </div>
    <% end %>
    <%if @park.coffee === true  %>
      <div class="label">

     <i class="fa-solid fa-mug-hot" style="color: #7f7f7f;margin-right: 5px;"></i>
      Café

    </div>
    <% end %>
    <%if @park.zoo === true  %>
      <div class="label">

      <i class="fa-solid fa-dragon" style="color: #7f7f7f;margin-right: 5px;"></i>
      Zoo
    </div>
    <% end %>

    <%if @park.toys_rent === true  %>
    <div class="label">
      <i class="fa-solid fa-face-smile" style="color: #7f7f7f;margin-right: 5px;"></i>
      Location
    </div>
    <% end %>
  </div>
