<div class="container mt-3 text-center">
  <div class="logo-index">
  <%= image_tag("https://res.cloudinary.com/dd6jjbnqk/image/upload/v1702381579/BP_Logos/Logos_DEF_SVG_TRANSP/PB_Logo_Full_Inline_Color_Black_s6l1nv.svg", width: 400, height: 200) %></div>
  </div>
</div>
<br>
<br>
<div class="container mt-5 text-center">
  <%= form_with model: @park, local: true do |form| %>
    <%= render 'form_create_parks', form: form %>
  <% end %>
</div>
