
<% if private_message %>

  <div class="notification" id="message-<%= private_message.id %>">
    <div class="notification-header">
      <h3 class="notification-title">Nouveaux messages</h3>
      <i class="fa fa-times notification-close"></i>
    </div>
    <div class="notification-container">
		  
		  <div class="notification-content">
        <small class="text-end">
          <strong><%= private_message.user.nickname %></strong>
          <i><%= private_message.created_at.in_time_zone('CET').strftime('%H:%M') %></i>
        </small>
          <p class="notification-text"><%= private_message.content %></p>
      </div>
    </div>

      </div>
    </div>
<% end %>
