
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>ParkBuddies</h1>
    <p><strong>Rencontrez, Connectez, Partagez</strong></p>
    <p>ParkBuddies</p>
    <p>l'appli qui transforme les parcs en terrains d'amitié</p>
  </div>
</div>

<a class="btn btn-gradient" href="#">S'inscrire</a>
<a class="btn btn-gradient" href="#">Se connecter</a>

<%# test pour css %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card-park">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-park-infos">
          <h5 class="card-title">Park title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
