
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dd6jjbnqk/image/upload/v1701776734/personnes-profitant-des-activites-de-loisirs-au-sheep-meadow-dans-central-park-new-york-city-etats-unis-2022-2j5tg7j_nghwws.jpg);">

  <div class="container">
    <h1>ParkBuddies</h1>
    <p>L'appli qui transforme les parcs en terrains d'amitié</p>
    <p><strong>Rencontrez, Connectez, Partagez</strong></p>
  </div>
</div>


<a class="btn btn-noir" href="#">S'inscrire</a>
<a class="btn btn-blanc" href="#">Se connecter</a>
