.btn-noir {
  color: black;
  padding: 8px 24px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: bold;
  background: #D0F288;
  transition: 0.3s ease;
  align-items: center;
}

.btn-noir:hover {
  background: linear-gradient(#D0F288, #BED754);
  color: white;
}

.btn-blanc {
  color: white;
  padding: 8px 24px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: bold;
  background: black;
  transition: 0.3s ease;
  align-items: center;
}

.btn-blanc:hover {
  background: linear-gradient(#D0F288, #BED754);
  color: white;
}


.btn-large {
  color: black;
  padding: 8px 24px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: bold;
  background: $green;
  text-decoration: none;
  transition: 0.3s ease;
  &:hover {
    background: linear-gradient($green, $greenbis);
    color: white;
  }
}
