.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#D0F288, #BED754);
  transition: background 0.3s ease;
  border: 1px solid #b8ce53;
}

.btn-gradient:hover {
  background: linear-gradient(#D0F288, #BED754);
  color: white;
}
