// card parks

.card-park {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 15px;


  h2{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-subtitle {
    font-size: 12px;
    line-height: 1.4;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 8px;
    opacity: .7;
    color: $corail;
  }

  .card-park-infos {
    padding: 16px;
  }

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    padding: 8px;
    border-radius: 12px;
  }

  i.fa-heart {
    position:absolute;
    top: 17px;
    right: 8px;
  }
}

.card-park p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.show-subtitle {
  font-size: 17px;
  line-height: 1.2;
  font-weight: bold;
  font-style: italic;
  color: $corail;
}

// map + photo
.map-flex {
  min-width: 100%;
  display: flex;
  overflow-x: auto;
}

.card-simple {
  width: 90%;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px;
}

.card-chatroom {
  width: 99%;
  height: 90px;
  border-bottom: 1px solid $light-gray;
  align-items: center;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;

  .chatroom-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .chatroom-infos {
    padding: 16px;
    // margin:10px;
  }
}
