.label {
  border: solid 1px $dark-gray;
  padding: 4px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
}

.type {
  background-color: $greenbis;
  color: white;
  border-radius: 11px;
  padding: 4px;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 8px;
  font-weight: 700;
  font-size: 14px;
}
