.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.center{
  text-align: center;
  margin: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  justify-content: flex-end; // or `flex-start`
}

.logo-profile {
  position: absolute;
  margin-left: 55px;
  margin-top: -52px;
  z-index: 1;
}
