.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.center{
  text-align: center;
  margin: 10px;
}

.flex-container {
  display: flex;
  justify-content: flex-end; // or `flex-start`
}
