.formatmap {
    border-radius: 8px;
    margin-right: 8px;
}

.map-show{
    height: 300px;
    border-radius: 8px;
    margin:30px;
}

.mapboxgl-popup {
  max-width:80px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
