.formatmap {
    border-radius: 10px;
    margin-right: 8px;
}

.map-show{
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}

.mapboxgl-popup {
  max-width: 150px !important ;
  border-radius: 10px !important;
}

.mapboxgl-popup-content {
  text-align: center !important;
  font-family: "Open Sans", sans-serif !important;
}
