.formatmap {
    border-radius: 10px;
    margin-right: 8px;
}

.map-show{
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}

.mapboxgl-popup {
  max-width: 150px !important ;
  border-radius: 10px !important;
}

// .mapboxgl-popup-content {
//   text-align: center !important;
//   font-family: "Open Sans", sans-serif !important;
// }
// .mapboxgl-popup {
//   font-family: 'Arial', sans-serif !important;
//   background-color: #fff !important;
//   border-radius: 8px !important;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
//   padding: 16px !important;
//   max-width: 300px !important;
// }

// .mapboxgl-popup-content {
//   display: flex !important;
//   align-items: center !important;
//   padding: 0px !important;
//   border-radius-left: 8px !important;
// }

// .mapboxgl-popup img {
//   height: 100% !important;
//   object-fit: cover !important;
//   border-radius: 8px 0 0 8px !important;
//   margin-right: 8px !important;
// }

// .mapboxgl-popup-text {
//   flex-grow: 1 !important;
// }

// .mapboxgl-popup h3 {
//   font-size: 18px !important;
//   margin-bottom: 8px !important;
//   color: #333 !important;
// }

// .mapboxgl-popup p {
//   font-size: 14px !important;
//   margin-bottom: 16px !important;
//   color: #666 !important;
//   padding-right:8px !important;
// }

// .mapboxgl-popup a {
//   color: #007BFF !important;
//   text-decoration: none !important;
//   font-weight: bold !important;
// }
