.message-row {
  display: flex;
  margin-bottom: 10px;
  padding: 8px;
  justify-content: space-between;
}

.sender-style {
  width: 70%;
  max-width: 400px;
  border-radius: 6px;
  padding: 8px;
  min-height: 80px;
  background-color: #D0F288;
}

.receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 6px;
  padding: 8px;
  min-height: 80px;
  background-color: #EF476F;
}
.avatar-message {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
