.navbar-lewagon {
  background-color: white;
  padding: 14px;
  border-radius: 17px;
  margin: 10px;
  flex-direction: row;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  position: sticky;
  bottom: 5px;
  top: auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-left: 20px;
  color: #D9D9D9;;
}
.nav-item:not(.active) .fa-lg {
  color: $dark-gray;
}

.active-icon {
  color: $corail;
}

@media (max-width: 576px) {
  .container-sm .container {
    min-width: 540px;
}
.navbar-nav{
  flex-direction: row;
}
}
