.input {
  width: 99%;
  background-color: rgba(211, 211, 211, 0.7);
  padding: 10px;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  border: none !important;
}
.input2 {
  width: 99%;
  background-color: $verylight-gray;
  padding: 10px;
  border-radius: 30px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  border: none !important;
}
.loupe {
  background-color: none !important;
  border: none !important;
  background: none !important;
  padding-bottom: 6px;
  margin-left: 322px;
    margin-top: 15px;
    position: absolute;
}

.loupe-index {
  background-color: none !important;
  border: none !important;
  background: none !important;
  padding-bottom: 6px;
  margin-left: 351px;
  margin-top: 15px;
  position: absolute;
}
