.nav {
  color: black;
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: #BED754;

  border-bottom: 1px solid #D9D9D9;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
 
  .nav-link:hover, .nav-link:focus {
    color: var(--bs-nav-link-hover-color);
    border-bottom: 2px solid #BED754;
}
}
