<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous t'informons que ton adresse email est en train d'être changée pour <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous t'informons que ton adresse email a été changée pour <%= @resource.email %>.</p>
<% end %>
