<p>Hello <%= @resource.email %>!</p>

<p>Ton compte a été bloqué suite à un nombre excessif de tentatives de connexion infructueuses.</p>

<p>Cliques sur le lien ci-dessous pour débloquer ton compte:</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
